<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.coppernic.sample.columbofp">

    <uses-permission android:name="fr.coppernic.permission.FINGER_PRINT" />

    <application
        android:name="fr.coppernic.samples.fp.columbo.App"
        android:allowBackup="true"
        android:icon="@drawable/fingerprint_blue"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fingerprint_blue"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="fr.coppernic.samples.fp.columbo.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.coppernic.samples.fp.columbo.settings.PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
    </application>

</manifest>